.back {
  width: 80%;
  min-width: 340px;
  height: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;

  display: flex;
  justify-content: center;
  align-items: center;

  .backbutton {
    padding: 0.5rem 0;
    grid-column: 3 / 4;
  }
}
