.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 2rem;
  width: min(15rem, 70%);
  aspect-ratio: 4 / 1;
  cursor: pointer;

  .svg {
    position: absolute;
    left: 50%;
    height: 100%;
    max-width: 100%;
    transform: translateX(-50%);
  }

  p {
    z-index: 1;
    font-family: "Cartoon";
    color: var(--purple);
    font-size: 1.6rem;
    transition: color 150ms ease-in;
    pointer-events: none;
    text-transform: uppercase;
  }

  &:hover p {
    color: var(--yellow);
  }
}
