.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.3rem;
  width: 60%;
  min-height: 24px;
  cursor: pointer;

  .svg {
    position: absolute;
    left: 50%;
    height: 100%;
    max-width: 100%;
    transform: translateX(-50%);
  }

  p {
    z-index: 1;
    font-family: "Cartoon";
    color: var(--purple);
    font-size: 1.6rem;
    transition: color 150ms ease-in;
    pointer-events: none;
  }

  &:hover p {
    color: var(--yellow);
  }
}
