.characters {
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 1fr;
  column-gap: max(12px, 1rem);
  row-gap: max(12px, 1rem);
  margin-bottom: 0.5rem;
  padding-left: 2.5rem;
}

.image-left,
.image-right {
  position: relative;
  aspect-ratio: 1;
  img {
    position: absolute;
    width: 115%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.image-left {
  grid-column: 1 / 2;
}
.image-right {
  grid-column: 2 / 3;
}

.content-right,
.content-left {
  aspect-ratio: 1;
  width: 1fr;
  .kukac {
    font-size: 2.5rem;
  }
  .mese {
    display: inline;
    color: var(--purple);
  }
}

.content-right {
  grid-column: 2 / 3;
}

.content-left {
  grid-column: 1 / 2;
  padding-left: 1.5rem;
}
