.characters {
  grid-template-rows: 1fr repeat(14, minmax(140px, 4fr));
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.image-left,
.image-right {
  img {
    width: 100%;
  }
}

.image-left {
  grid-column: 1 / 2;
}
.image-right {
  grid-column: 2 / 3;
}

.content-right,
.content-left {
  width: 1fr;
  .mese {
    display: inline;
    color: var(--purple);
  }

  margin-bottom: auto;
  margin-top: 25%;
}

.content-right {
  grid-column: 2 / 3;
}

.content-left {
  grid-column: 1 / 2;
}
