.header {
  position: relative;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  .content {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--yellow);

    .karmosilogo {
      height: 80%;
    }

    .cicafej {
      height: 100%;
    }
  }

  .navbar {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    margin-top: -1%;
    z-index: 1;
    padding: 0 2rem;
    gap: 1.5rem;
    background: url("../assets/header/Nav.svg") repeat-x;

    .menu-item {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      cursor: pointer;

      &:hover {
        p {
          transform: translateY(0);
        }

        .home,
        .kaosz,
        .contact {
          transform: scale(1.05) rotate(5deg);
        }

        .char,
        .order {
          transform: scale(1.05) rotate(-5deg);
        }
      }

      p {
        font-size: 1rem;
        font-weight: 700;
        transform: translateY(0.1rem);
        color: var(--purple);
        white-space: nowrap;
        transition: transform 200ms ease-in;
      }

      .icon {
        transition: transform 200ms ease-in;

        &.home {
          height: 60%;
        }

        &.char {
          height: 55%;
        }

        &.kaosz {
          height: 55%;
        }

        &.order {
          height: 55%;
        }

        &.contact {
          height: 50%;
        }
      }
    }
  }
}
