.kaosz {
  aspect-ratio: 2 / 1.4;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 4fr 3fr;

  .content {
    grid-column: 1 / 2;
    height: 100%;
    p {
      display: inline;
      span {
        color: var(--purple);
      }
    }

    .play {
      margin-top: 10%;
    }
  }

  .image {
    grid-column: 2 / 3;

    img {
      margin-top: auto;
      width: 110%;
    }
  }

  .player {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 90%;
      aspect-ratio: 1 / 1;
    }

    #title {
      align-self: flex-start;
      font-size: 1.3rem;
      font-weight: 500;
      white-space: nowrap;
      width: 100%;
    }

    .progress-bar {
      margin-top: 0.5rem;
      width: 90%;
      height: auto;
      min-height: 10px;
      &::-webkit-slider-thumb {
        background-color: var(--purple);
        width: 0.7rem;
        height: 0.7rem;
        border: none;
        -webkit-appearance: none; // Ensures consistent thumb styling
      }

      &::-webkit-slider {
        -webkit-appearance: none; // Ensures consistent styling across WebKit browsers
        width: 100%;
        border: none;
      }

      &::-webkit-slider-track,
      &::-webkit-slider-runnable-track {
        background-color: var(--purple);
        opacity: 60%;
        height: 0.35rem;
        border-radius: 20px;
      }

      // Firefox (Mozilla)
      &::-moz-range-thumb {
        background-color: var(--purple);
        width: 0.7rem;
        height: 0.7rem;
        border: none;
      }

      &::-moz-range-track {
        background-color: var(--purple);
        opacity: 60%;
        height: 0.35rem;
        border-radius: 20px;
      }

      &::-moz-range-progress {
        background-color: var(--purple);
        height: 0.35rem;
        border-radius: 20px;
      }

      // Microsoft Edge and Internet Explorer
      &::-ms-thumb {
        background-color: var(--purple);
        width: 0.7rem;
        height: 0.7rem;
        border: none;
      }

      &::-ms-track {
        background-color: var(--purple);
        opacity: 60%;
        height: 0.35rem;
        border-radius: 20px;
        border: none;
      }

      &::-ms-fill-lower,
      &::-ms-fill-upper {
        background-color: var(--purple);
        opacity: 60%;
        border-radius: 20px;
      }
    }

    .mp {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 10%;
      font-size: 0.8rem;
      color: var(--purple);
      opacity: 70%;
    }

    .buttons {
      margin-top: max(5%, 1rem);
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
      grid-template-rows: 1fr;
      gap: 2rem;
      width: 100%;

      .music-button {
        height: 100%;
        aspect-ratio: 1/1;
        max-width: 1.2rem;
        cursor: pointer;

        &.prev-button {
          grid-column: 2 / 3;
        }
        &.pause-buton {
          grid-column: 3 / 4;
        }
        &.next-button {
          grid-column: 4 / 5;
        }
        &.lyrics {
          grid-column: 5 / 6;
        }
        svg {
          width: 100%;
          height: 100%;
          transition: transform 150ms ease-in;

          &.play:hover,
          &.next:hover,
          &.list:hover {
            transform: rotate(1deg) scale(1.05);
          }

          &.prev:hover,
          &list:hover,
          &.mic:hover {
            transform: rotate(-1deg) scale(1.05);
          }
        }
      }
    }
  }
}
