.kaosz-content {
  grid-column: 1 / 2;
  height: 100%;
  padding-left: 1.5rem;
  p {
    display: inline;
    p {
      color: var(--purple);
    }
  }

  .play {
    margin-top: 10%;
    margin-right: auto;
    margin-left: 20%;
  }
}

.kaosz-image {
  grid-column: 2 / 3;

  img {
    width: 120%;
    transform: translateX(5%);
  }
}

.player {
  img {
    width: 100%;
  }
}
