.kapcsolat {
  aspect-ratio: 3 / 1.5;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 8fr;

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 120%;
    }
  }
  .content {
    gap: 1.5rem;

    .contact {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 2rem;
      width: 100%;
      min-height: 40px;
      height: 4rem;

      svg {
        height: 75%;
        max-height: 3rem;
        width: auto;
        transition: 150ms ease-in;
      }

      a {
        font-size: 1.2rem;
        transition: 150ms ease-in;
      }

      &:hover {
        svg {
          transform: rotate(-5deg) scale(1.1);
        }

        a {
          transform: translateY(-0.1rem);
        }
      }
    }
  }
}
