.rendeles {
  aspect-ratio: 3 / 2.5;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;

  .content {
    grid-column: 2 /3;
  }
  .image {
    grid-column: 1 / 2;
    img {
      width: 110%;
      transform: translateX(-5%);
    }
  }

  .button {
    margin-top: 10%;
  }
}
