.block-title {
  font-size: 2rem;
  font-family: "Cartoon", sans-serif;
  color: var(--purple);
}

.break-text {
  width: 80%;
  min-width: 120px;
  font-size: 0.8rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  line-height: 160%;
}
