.block-title {
  font-size: 2rem;
  font-family: "Cartoon", sans-serif;
  color: var(--purple);
}

.break-text {
  width: 80%;
  min-width: 120px;
  font-size: 0.8rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  line-height: 160%;
}
.char-text {
  width: 80%;
  min-width: 120px;
  font-size: 0.8rem;
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
  line-height: 160%;
}

.quote {
  font-size: 1.1rem;
  color: var(--purple);
  opacity: 70%;
  font-family: "Cartoon", sans-serif;
}
