:root {
  --yellow: #ffdb8e;
  --purple: #7c6cc9;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Cartoon";
  src: url("./assets/fonts/ActiveRegular.OTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.app {
  height: 100%;
  background: url("http://karmosimesek.hu/assets/bg.png") no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow-y: scroll;
}

.welcome-text {
  font-size: 1.5rem;
  font-family: "Cartoon";
  text-align: center;
  color: black;
  width: 80%;
  min-width: 320px;
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 8px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}
